[user]
	name = Jonathan Schuster
	email = jonathan.p.schuster@gmail.com
[alias]
	st = status -s
	co = checkout
	ci = commit
        br = branch
[core]
	excludesfile = /home/schu/.gitignore_global
	editor = emacs
[push]
	# Can remove this line once git 2.0 changes the default
	default = simple
