# Ignore all non-hidden top-level directories
/*
!/.*

# Explicitly list the hidden directories I don't want to track
/.Braid
/.ICEauthority
/.Skype/
/.SupergiantGames/
/.VirtualBox/
/.WorldOfGoo/
/.Xauthority
/.activator/
/.adobe/
/.android/
/.aspell.en.prepl
/.aspell.en.pws
/.asunder
/.asunder_album_artist
/.asunder_album_genre
/.asunder_album_title
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bip/
/.cabal/
/.cache/
/.cargo/
/.cddb/
/.cddbslave/
/.config/.libreoffice/
/.config/Clementine/
/.config/FEZ/
/.config/GIMP/
/.config/ImageMagick/
/.config/Mendeley Ltd./
/.config/MonoGame/
/.config/Mousepad/
/.config/QtProject.conf
/.config/Skype/
/.config/Slack/
/.config/Terminal/
/.config/Thunar/
/.config/Trolltech.conf
/.config/UDP Software/
/.config/Undertype/
/.config/akonadi/
/.config/asunder/
/.config/awn/
/.config/btsync/
/.config/cairo-compmgr/
/.config/cairo-dock/
/.config/cef_user_data/
/.config/chromium/
/.config/compton.conf
/.config/dconf/
/.config/digikamrc
/.config/easytag/
/.config/enchant/
/.config/epiphany/
/.config/evince/
/.config/evolution/
/.config/f-spot/
/.config/fbpanel/
/.config/filezilla/
/.config/foo
/.config/ghb/
/.config/gnome-control-center/
/.config/google-chrome/
/.config/google-googletalkplugin/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/guvcview/
/.config/guvcview2/
/.config/hexchat/
/.config/htop/
/.config/jstest-gtk/
/.config/kde.org/
/.config/krulerrc
/.config/libreoffice/
/.config/meld/
/.config/menus/
/.config/mimeapps.list
/.config/monitors.xml
/.config/nautilus/
/.config/okularpartrc
/.config/okularrc
/.config/pavucontrol.ini
/.config/pkgtools/
/.config/pulse/
/.config/pychess/
/.config/qpdfview/
/.config/retroarch/
/.config/ristretto/
/.config/rslsync/
/.config/seancode/
/.config/showfotorc
/.config/skypeforlinux/
/.config/spotify/
/.config/systemd/
/.config/terminator/
/.config/tint2/
/.config/transmission/
/.config/unity3d/
/.config/vlc/
/.config/xfce4/
/.config/xmms2/
/.config/yelp/
/.crawl/
/.cups/
/.dbus/
/.dia/
/.dmrc
/.dvdcss/
/.dwarffortress/
/.eclipse/
/.elinks/
/.elm/
/.emacs.d/abbrev_defs
/.emacs.d/auto-save-list/
/.emacs.d/elpa/
/.emacs.d/transient/
/.erlang.cookie
/.esd_auth
/.fceux/
/.fontconfig/
/.gconf/
/.gconfd/
/.ghc/
/.gimp-2.6/
/.gimp-2.8/
/.gitk
/.gnash/
/.gnome/
/.gnome2/
/.gnupg/crls.d/
/.gnupg/pubring.gpg
/.gnupg/pubring.gpg~
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/trustdb.gpg
/.gnuplot-wxt
/.gnuplot_history
/.gphoto/
/.grip
/.grip-lame
/.grip-oggenc
/.gstreamer-0.10/
/.gtk-bookmarks
/.gtkrc-2.0
/.gtkrc-2.0.bak
/.gtkrc.tmp-1
/.guvcviewrc
/.histfile
/.hplip/
/.http;delicious.com/
/.huludesktop
/.icons/
/.irssi/
/.isabelle/
/.ivy2/
/.java/
/.kde4/
/.keychain/
/.kodi/
/.lastpass/
/.lesshst
/.libreoffice/
/.local/
/.m2/
/.macromedia/
/.minecraft/
/.mono/
/.mozilla/
/.mplayer/
/.msmtp.log
/.multirust
/.mysql_history
/.newsrc
/.newsrc-dribble
/.nv/
/.nvidia-settings-rc
/.opam/archives/
/.opam/config.lock
/.opam/download-cache/
/.opam/lock
/.opam/log/
/.opam/opam-init/
/.opam/repo/
/.opam/system/
/.openvr/
/.pki/
/.prl/
/.pulse-cookie
/.pulse/
/.purple/
/.pymazon/
/.pypanelrc
/.python_history
/.racket/
/.recently-used
/.rnd
/.rslsync.pid
/.rslsync/
/.rustup/
/.sbt/
/.scala_history
/.servo/
/.shotwell/
/.snes9x/
/.ssh/
/.steam/
/.steampath
/.steampid
/.subversion/
/.swt/
/.sync/
/.texlive/
/.thumbnails/
/.thunderbird/
/.tomighty/
/.tooling/
/.tworld/
/.unison/
/.unison.log
/.viminfo
/.wget-hsts
/.wine-pipelight/
/.wine/
/.wireshark/
/.xargo/
/.xboardrc
/.xchat2/
/.xournalpp/
/.xscreensaver
/.xsession
/.xsession-errors
/.zcompdump
/.zotero/
/.zsnes/
