[user]
	name = Jonathan Schuster
    # Google requires me to use my Google address for commits. See go/patching.
	# email = jonathan.p.schuster@gmail.com
    email = jschust@google.com
[alias]
	st = status -s
	co = checkout
	ci = commit
        br = branch
[core]
	excludesfile = /home/schu/.gitignore_global
	editor = emacs
[fetch]
        # fskObjects recommended here: https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
        fsckObjects = true
[push]
	# Can remove this line once git 2.0 changes the default
	default = simple
[receive]
        fsckObjects = true
[transfer]
        fsckObjects = true
[init]
	defaultBranch = main
[safe]
	directory = /etc
