[Desktop Entry]
Type=Application
Exec=/home/schu/scripts/runxmodmap
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xmodmap
Name=xmodmap
Comment[en_US]=Custom keyboard mapping
Comment=Custom keyboard mapping
